.cartItem {
  width: 80%;
  margin-left: 10%;
  background-color: #34495b;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 0;
  color: #ffffff;
  box-shadow: 10px 9px 13px -2px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.cartItem button {
  padding: 0.2rem 0.8rem;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.cartItem button:hover {
  background-color: #24323f;
}
